<div class="purchase-page">
    <div class="row">
        <div class="col-6 image-section">
            <img src="assets/images/accessoire1.jpg" alt="Produit Image" class="img-fluid">
        </div>
        <div class="col-6 description-section">
            <h2>Nom du Produit</h2>
            <p>Référence: 0011224852</p>
            <p>Prix: 80DT</p>
            <p>Couleurs disponibles: Blanc</p>
            <p>Taille: Unique</p>
            <p>Description détaillée du produit.</p>
        </div>
    </div>
</div>
