<p class="cc">Catalogue/Enfant/Fille/Sacs</p>

<div class="card-container1">
    <div class="sidebar">
        <div class="categories">
            <h3>CATEGORIES:</h3>
            <ul class="child">
                <li routerLink="/accessoire-enfant-fille">ACCESSOIRES</li>
                <li routerLink="/sacs-enfant-fille">SACS</li>
                <li>VÊTEMENTS
                    <ul class="child">
                        <li routerLink="/pull-enfant-fille">Pulls</li>
                        <li routerLink="/jeans-enfant-fille">Jeans</li>
                        <li routerLink="/shorts-enfant-fille">Shorts</li>
                        <li >Manteaux & Vestes</li>
                        <li>Complets & Blazers</li>
                        <li>chemises</li>
                        <li>Pantalons</li>
                        <li>Sous-Vêtements</li>
                        <li>Tee shirts & Polos</li>
                    </ul>
                </li>
            </ul>
            
        </div>
        <div class="creators">
            <h3>CRÉATEURS:</h3>
            <ul>
            </ul>
        </div>
    </div>
    <div class="card" style="width: 30rem;">
        <img src="assets/images/sac-enfant-fille1.png" class="card-img-top" alt="sac enfant fille" [routerLink]="['/achat_hors_vetement', '31111022']">
        <div class="card-body">
            <h5 class="card-title">SAC FILLE:</h5>
            <p class="card-text"> Sac a main fille</p>
            <p>Référence: 31111022</p>
            <p>Prix: 30DT</p>
            <p>Couleurs disponible: Beige, Noir, Rouge, Blanc</p>
            <p>Taille: Unique </p>
            <div class="btn">
                <button class="btn btn-outline-secondary" routerLink="/panierproduits">Ajouter au panier</button>
            </div>
        </div>
    </div>
    <div class="card" style="width: 30rem;">
        <img src="assets/images/sac-enfant-fille2.png" class="card-img-top" alt="sac enfant fille  " [routerLink]="['/achat_hors_vetement', '2255555']">
        <div class="card-body">
            <h5 class="card-title">SAC FILLE:</h5>
            <p class="card-text">Sac a dos fille tendance </p>
            <p>Référence: 2255555</p>
            <p>Prix: 80DT</p>
            <p>Couleurs disponible: Blanc, Noir , Bleu, Violet, Rose</p>
            <p>Taille: Unique </p>
            <div class="btn">
                <button class="btn btn-outline-secondary" routerLink="/panierproduits">Ajouter au panier</button>
            </div>
        </div>
    </div>


    <div class="card" style="width: 30rem;">
        <img src="assets/images/sac-enfant-fille3.png" class="card-img-top" alt="sac fille enfant" [routerLink]="['/achat_hors_vetement', '1299912']">
        <div class="card-body">
            <h5 class="card-title">Sac FILLE:</h5>
            <p class="card-text">Sazc a dos fille</p>
            <p>Référence: 1299912</p>
            <p>Prix: 50DT</p>
            <p>Couleurs disponible: Beige, Noir, Blanc, Bleu</p>
            <p>Taille: Unique</p>
            <div class="btn">
                <button class="btn btn-outline-secondary" routerLink="/panierproduits">Ajouter au panier</button>
            </div>
        </div>
    </div>
</div>

