<p class="cc">Catalogue/Enfant/Fille/Shorts</p>

<div class="card-container1">
    <div class="sidebar">
        <div class="categories">
            <h3>CATEGORIES:</h3>
            <ul class="child">
                <li routerLink="/accessoire-enfant-fille">ACCESSOIRES</li>
                <li routerLink="/sacs-enfant-fille">SACS</li>
                <li>VÊTEMENTS
                    <ul class="child">
                        <li routerLink="/pull-enfant-fille">Pulls</li>
                        <li routerLink="/jeans-enfant-fille">Jeans</li>
                        <li routerLink="/shorts-enfant-fille">Shorts</li>
                        <li >Manteaux & Vestes</li>
                        <li>Complets & Blazers</li>
                        <li>chemises</li>
                        <li>Pantalons</li>
                        <li>Sous-Vêtements</li>
                        <li>Tee shirts & Polos</li>
                    </ul>
                </li>
            </ul>
            
        </div>
        <div class="creators">
            <h3>CRÉATEURS:</h3>
            <ul>
            </ul>
        </div>
    </div>
    <div class="card" style="width: 30rem;">
        <img src="assets/images/short-enfant-fille1.png" class="card-img-top" alt="short enfant fille" [routerLink]="['/achat_vetement', '56971022']">
        <div class="card-body">
            <h5 class="card-title">SHORT FILLE:</h5>
            <p class="card-text"> Short tendance fille</p>
            <p>Référence: 1022</p>
            <p>Prix: 35DT</p>
            <p>Couleurs disponible: Bleu, Noir, Beige</p>
            <p>Taille: M, L, S, XL, XS </p>
            <div class="btn">
                <button class="btn btn-outline-secondary" routerLink="/panierproduits">Ajouter au panier</button>
            </div>
        </div>
    </div>
    <div class="card" style="width: 30rem;">
        <img src="assets/images/short-enfant-fille2.png" class="card-img-top" alt="short enfant fille  " [routerLink]="['/achat_vetement', '1155']">
        <div class="card-body">
            <h5 class="card-title">SHORT FILLE:</h5>
            <p class="card-text">Short fille tendance </p>
            <p>Référence: 1155</p>
            <p>Prix: 35DT</p>
            <p>Couleurs disponible: Blanc, Noir , Bleu</p>
            <p>Taille: S, M, L, XL, XS </p>
            <div class="btn">
                <button class="btn btn-outline-secondary" routerLink="/panierproduits">Ajouter au panier</button>
            </div>
        </div>
    </div>


    <div class="card" style="width: 30rem;">
        <img src="assets/images/short-enfant-fille3.png" class="card-img-top" alt="short fille enfant" [routerLink]="['/achat_vetement', '99912']">
        <div class="card-body">
            <h5 class="card-title">SHORT FILLE:</h5>
            <p class="card-text">Short fille tendance multicouleur</p>
            <p>Référence: 99912</p>
            <p>Prix: 30DT</p>
            <p>Couleurs disponible: Beige, Noir, Blanc, Bleu</p>
            <p>Taille: M, L, S, XL, XS</p>
            <div class="btn">
                <button class="btn btn-outline-secondary" routerLink="/panierproduits">Ajouter au panier</button>
            </div>
        </div>
    </div>
</div>

