<p class="cc">Catalogue/Bébé/Fille/Complet</p>

<div class="card-container1">
    <div class="sidebar">
        <div class="categories">
            <h3>CATEGORIES:</h3>
            <ul class="child">
                <li routerLink="/accessoire-bebe-fille">ACCESSOIRES</li>
                <li routerLink="/sac-bebe-fille">SACS</li>
                <li>VÊTEMENTS
                    <ul class="child">
                        <li routerLink="/pull-bebe-fille">Pulls</li>
                        <li routerLink="/complet-bebe-fille">Complets </li>
                        <li >Manteaux & Vestes</li>
                        <li >Shorts</li>
                        <li>chemises</li>
                        <li>Pantalons</li>
                        <li>Sous-Vêtements</li>
                        <li >Jeans</li>
                        <li>Tee shirts & Polos</li>
                    </ul>
                </li>
            </ul>
            
        </div>
        <div class="creators">
            <h3>CRÉATEURS:</h3>
            <ul>
            </ul>
        </div>
    </div>
    <div class="card" style="width: 30rem;">
        <img src="assets/images/complet-bebe-fille1.png" class="card-img-top" alt="complet bébé fille" [routerLink]="['/achat_vetement', 'cmp1022']">
        <div class="card-body">
            <h5 class="card-title">COMPLET bébé FILLE:</h5>
            <p class="card-text"> Complet bébé fille</p>
            <p>Référence: cmp1022</p>
            <p>Prix: 35DT</p>
            <p>Couleurs disponible: Beige, Noir, Rouge, Blanc</p>
            <p>Taille: Unique </p>
            <div class="btn">
                <button class="btn btn-outline-secondary" routerLink="/panierproduits">Ajouter au panier</button>
            </div>
        </div>
    </div>
    <div class="card" style="width: 30rem;">
        <img src="assets/images/complet-bebe-fille2.png" class="card-img-top" alt="complet bébé fille  " [routerLink]="['/achat_vetement', 'cmpnbvl55555']">
        <div class="card-body">
            <h5 class="card-title">COMPLET Bébé FILLE:</h5>
            <p class="card-text">Complet fille  pour nouveau né</p>
            <p>Référence: cmpnbvl55555</p>
            <p>Prix: 45DT</p>
            <p>Couleurs disponible: Blanc, Noir , Bleu, Violet, Rose</p>
            <p>Taille: Unique </p>
            <div class="btn">
                <button class="btn btn-outline-secondary" routerLink="/panierproduits">Ajouter au panier</button>
            </div>
        </div>
    </div>


    <div class="card" style="width: 30rem;">
        <img src="assets/images/complet-bebe-fille3.png" class="card-img-top" alt="complet bébé enfant" [routerLink]="['/achat_vetement', 'cmpazeo99912']">
        <div class="card-body">
            <h5 class="card-title">COMPLET Bébé FILLE:</h5>
            <p class="card-text">Complet fille  pour nouveau né</p>
            <p>Référence: cmpazeo99912</p>
            <p>Prix: 39.900DT</p>
            <p>Couleurs disponible: Beige, Noir, Blanc, Bleu</p>
            <p>Taille: Unique</p>
            <div class="btn">
                <button class="btn btn-outline-secondary" routerLink="/panierproduits">Ajouter au panier</button>
            </div>
        </div>
    </div>
</div>

